body {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.carousel-snap-scroll {
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}
.carousel-snap-scroll > div {
    scroll-snap-align: start;
    flex-shrink: 0;
}
.testimonial-carousel::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.testimonial-carousel {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
